# R
.Rhistory
.RData
.Ruserdata
.gitignore

# RStudio
.Rproj.user/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
.sync*

# Output folders (if they contain generated results)
data/
images/
MINGLE/
NetworkAnalysisPython/
others/
report/
results/
renv/library/
renv/staging/
renv/python/
Desktop.ini


# Quarto / R Markdown cache
_cache/
*_cache/
*_files/